<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">FullName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Gender</th>
        <th scope="col">Address</th>
        <th scope="col">DOB</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; trackBy: trackById">
      <!-- <tr *ngFor="let user of users$ | async; trackBy: trackById"> -->
        <td>{{ user?.id }}</td>
        <td>{{ user?.fullName }}</td>
        <td>{{ user?.email }}</td>
        <td>{{ user?.phone }}</td>
        <td>{{ user?.gender }}</td>
        <td>{{ user?.address }}</td>
        <td>{{ user?.dob }}</td>
        <td>
          <button class="btn btn-warning" (click)="editUser(user)">Edit</button>
          <button class="btn btn-danger" (click)="deleteUser(user)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  