<div class="container">
  <p>parent works!</p>

  <!-- <li class="nav-item"> -->
    <a class="nav-link" routerLink="child" >
     go to Child component 
    </a>

    <router-outlet></router-outlet>
  <!-- </li> -->

  <!-- <besant-child>
    <h5 class="card-title" id="title" #titleRef>Card title1</h5>
    <h5 class="card-title" id="title" #titleRef>Card title2</h5>
    <h5 class="card-title" id="title" #titleRef>Card title3</h5>
    <a href="#" class="btn btn-primary">Go somewhere 1</a>
    <button class="btn btn-primary mx-1">link</button>

    <besant-cpe [userName]="'Navin'"></besant-cpe>
    <besant-cpe [userName]="'Navin2'"></besant-cpe>
    <besant-cpe [userName]="'Navin3'"></besant-cpe>
    <besant-cpe [userName]="'Navin4'"></besant-cpe>
    
  </besant-child> -->
  <!-- <button class="btn btn-primary mt-2" (click)="getRef()">Click here parent</button> -->
</div>

<!-- <besant-child>
  <h5 class="card-title" id="title">Card title2</h5>
  <a href="#" class="btn btn-primary">Go somewhere 2</a>
  <button class="btn btn-primary mx-1">link</button>
</besant-child>
<besant-child>
  <h5 class="card-title" id="title">Card title3</h5>
  <a href="#" class="btn btn-primary">Go somewhere 3</a>
  <button class="btn btn-primary mx-1">link</button>
</besant-child> -->
